.card img {
  width: 55vw;
}

.card p {
  line-height: 1.8rem;
}

.card {
  display: flex;
  margin-bottom: 24px;
}

@media only screen and (max-width: 1024px) {
  .card {
    display: block;
    margin: 5vh 0 8vh 0;
  }

}
