.dark-bg {
  background-color: #0A1A2E;
}

.white {
  color: rgb(235, 235, 235);
}

.primary {
  color: #53f6ff;
}

.light-gray {
  color: #CCD6F5;
}

.gray {
  color: #8892AF;
}

.dark-gray {
 color: #555;
}
