.flex {
  display: flex;
}

.flex-end {
  justify-content: end;
}

.flex-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.flex-icons {
  display: flex;
  flex-direction: column;
}

.fixed {
  position: fixed;
  right: 0;
  bottom: 0;
}

.icons {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .flex-icons {
    display: none;
  }

  .icons {
    display: block;
  }

  .flex-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
}
