.grid {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  grid-gap: 8px;
}

.card img {
    width: 50vw;
  }

.description {
  margin-right: 56px;
}

.description-right {
  margin-left: 56px;
  text-align: right;
}

.img-small {
  display: none;
}

@media only screen and (max-width: 1024px) {
  /* For mobile phones: */
  .grid {
    grid-template-columns: 1fr;
  }

  .description-right {
  margin-left: 0;
  text-align: left;
}

  .container {
    margin: 0 10vw 0 10vw;
  }

  .card img {
    width: 80vw;
  }

  .img-big {
    display: none;
  }

  .img-small {
    display: block;
  }

  .description {
    margin-right: 0px;
    width: 100%;
  }
}
