a {
  transition: transform .3s ease-out;
  display: inline-block;
}

nav a:hover {
  color: red;
  transform: translate(-2vw, 0);
}

a img:hover {
  transform: scale(105%);
}

img {
  object-fit: cover;
  width: 100%;
  transition: all 0.5s;
}

ion-icon {
  transition: all 0.3s;
}

ion-icon:hover {
  transform: scale(130%);
}
