body {
  padding-bottom: 120px;
  background-color: #0A1A2E;
}

* {
  margin: 0;
  /* padding: 0; */
}

html, body {
  overflow-x: hidden;
}

ul,
li,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  transition: all 0.3s;
}

button {
  border: none;
  outline: none
}

.rounded {
  border-radius: 16px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .rounded {
  border-radius: 0;
}
}

html {
    scroll-behavior: smooth !important;
}

.vl {
  border-left: 1px solid #8892AF;
  margin-left: 20px;
  height: 10vh;
}
